/*
Author Names: Marc Keanne Principe & Emre 
Date Created: 12/02/26
Deadline: TBH
Description: A global style shared across all css.
*/

html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    min-height: 100%;
}

#container {
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    min-height: 100vh;
    gap: 10px;
    background-color: purple;
}


/*Left and Right Rectangles*/
#col1, #col3 {
    border: 2px solid black;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    flex: 1;
    min-width: 250px;
    background-color: green;
    background-image: 
        repeating-linear-gradient(
            45deg,
            rgba(0,0,0,0.05) 0px,
            rgba(0,0,0,0.05) 1px,
            transparent 1px,
            transparent 6px
        ),
        repeating-linear-gradient(
            -45deg,
            rgba(0,0,0,0.05) 0px,
            rgba(0,0,0,0.05) 1px,
            transparent 1px,
            transparent 6px
        );
}

#col1 h1 {
    color: gold;
    background-color: red;
    width: 200px;
    border: 10px solid gold;
    border-radius: 40px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#col1 p {
    background-color: red;
    color: gold;
    border: 10px solid gold;
    border-radius: 40px;
    width: 230px;
    font-size: 20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

/*Middle Rectangle*/
#col2 {
    display: flex;
    align-items: stretch;
    flex: 2;
    min-width: 350px;
    max-width: 520px;
    background-color: purple;
}


.rows {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.upgrade {
    border: 2px solid black;
    padding: 20px;
    background-color: rgb(255, 221, 177);
    min-height: 13vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*Store*/

#col3 h2 {
    color: gold;
    background-color: purple;
}

.item {
    border: 2px solid gold;
    background-color: red;
    border-radius: 2px;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    box-sizing: border-box;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.item:hover {
    transform: translateY(-3px);
    background-color: darkred;
}


/*Images*/
#cookie-click {
    width: 300px;
    height: auto;
    transition: transform 0.15s ease;
}

#cookie-click:active {
    transform: scale(0.905);
}
