/*
Author Names: Marc Keanne Principe & Emre 
Date Created: 12/02/26
Deadline: TBH
Description: A global style shared across all css.
*/

html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    min-height: 100%;
}

#container {
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    min-height: 100vh;
    gap: 10px;
    background-color: #3c2210;
}


/*Left and Right Rectangles*/
#col1, #col3 {
    border: 2px solid black;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    flex: 1;
    min-width: 250px;
    background-color: antiquewhite;
}


/*Middle Rectangle*/
#col2 {
    display: flex;
    align-items: stretch;
    flex: 2;
    min-width: 350px;
    max-width: 520px;
    background-color: #3c2210;
}


.rows {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}

.rows:hover {
    transform: translateY(-5px);
}

.upgrade {
    border: 2px solid black;
    padding: 20px;
    background-color: rgb(255, 221, 177);
    min-height: 13vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*Images*/
#cookie-click {
    width: 300px;
    height: auto;
}
